/*  your css code here. If applicable */
body {
    margin: 0;         
    height: 100vh;      
    display: relative;    
}
.box{
	height:200px;
	width:200px;
	background-color:lightblue;
	border:2px solid black;
	position:absolute;
	top:50%;
	left:50%;
	color:purple;
	display:flex;
	justify-content:center;
	align-items:center;
}
